<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<h2 class="mb-5">Update Device</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/devices/edit/{id}(id=${device.devId})}" method="post" th:object="${device}">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="devId" class="col-form-label">DeviceId</label> <input
								type="text" th:field="*{devId}" id="devId" placeholder="devId" 
								class="form-control" disabled> <span
								th:if="${#fields.hasErrors('devId')}" th:errors="*{devId}"
								class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="devMac" class="col-form-label">Mac</label> <input
								type="text" th:field="*{devMac}" id="devMac" placeholder="devMac" 
								class="form-control"> <span
								th:if="${#fields.hasErrors('devMac')}" th:errors="*{devMac}"
								class="text-danger"></span>
						</div>
						<div class="form-group col-md-6">
							<label for="devicetype" class="col-form-label">Devtype</label> <select
								class="form-control-range" th:field="*{devicetype}">
								<option th:each="devtypes : ${devicetypes}" th:value="${devtypes.devtypeId}"
									class="form-control" th:text="${devtypes.devtypeName}"
									th:selected="${device.devicetype=devtypes}"></option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label for="devicestatus" class="col-form-label">Devstatus</label> <select
								class="form-control-range" th:field="*{devicestatus}">
								<option th:each="devstatus : ${devicestatuses}" th:value="${devstatus.devstatId}"
									class="form-control" th:text="${devstatus.devstatName}"
									th:selected="${device.devicestatus=devstatus}"></option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mt-3">
							<input type="submit" name="action" class="btn btn-primary" value="Update Devicetype">
						</div>
						<div class="col-md-3 mt-3">
							<input type="reset" class="btn btn-secondary" value="Clear">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary" value="Cancel">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>